<!DOCTYPE html>
<html>
	<head>
		<title>Zone protégée</title>
		<style type="text/css">
			body { background: rgb(250,250,250); }
			a { text-decoration: none; color: rgb(68,130,188); }
			a:hover { color: rgb(224,150,45); }
			#zone { width: 500px; padding: 5px; background: rgb(240,240,240); border: 1px solid rgb(200,200,200); }
		</style>
	</head>
	<body>
		<h1>Zone protégée</h1>
		<div id="zone">
			Bienvenue dans votre zone protégée, <%= session[env["rack.session.id"]] %>.<br /><br />
			<a href="sessions/id">Se deconnecter</a>
		</div>
	</body>
</html>

