<!DOCTYPE html>
<html>
	<head>
		<title>App2 | Accueil</title>
		<%= settings.stylesheet; %>
	</head>
	<body>
		<center>
			<h1>Accueil</h1>
			Application cliente 2
			<div class="wrapper">
				Bienvenue sur l'application cliente 2.<br /><br />
				<a href="http://sauth:4567/<%= settings.appID; %>/sessions/new?ref=/protected">Se connecter</a>
			</div>
		</center>
	</body>
</html>
