<!DOCTYPE html>
<html>
	<head>
		<title>App2 | Zone protégée</title>
		<%= settings.stylesheet; %>
	</head>
	<body>
		<center>
			<h1>Zone protégée</h1>
			Application cliente 2
			<div class="wrapper">
				Bienvenue dans votre zone protégée, <%= session["a_user2"]; %>.<br /><br />
				<a href="/sessions/destroy">Deconnexion</a>
			</div>
		</center>
	</body>
</html>
