body {
	font: 13px Arial, sans-serif;
	background: rgb(240,240,240);
	margin: 0;
	padding: 0;
	border-top: 3px solid rgb(50,55,60);
}
h1 {
	margin-bottom: 0;
	padding-bototm: 0;
	color: rgb(50,55,60);
}
a {
	text-decoration: none;
	color: rgb(68,130,188);
}
a:hover, .item_del:hover {
	color: rgb(224,150,45);
}
.wrapper {
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: left;
	background: rgb(255,255,255);
	border: 1px solid rgb(200,200,200);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border-radius: 5px;
}