<!DOCTYPE html>
<html>
	<head>
		<title>Zone protégée</title>
		<%= settings.stylesheet %>
	</head>
	<body>
		<h1>Zone protégée</h1>
		Service d'authentification
		<div id="zone">
			Bienvenue dans votre zone protégée, <%= session[env["rack.session.id"]] %>.<br />
			<br />
			<strong>Liste des applications utilisant votre compte :</strong><br />
			- <a href="">Blabla</a><br />
			<br />
			<a href="sessions/id">Se deconnecter</a>
		</div>
	</body>
</html>

