body {
	font: 13px Arial, sans-serif;
	background: rgb(250,250,250);
}
h1 {
	margin-bottom: 0; padding-bototm: 0;
}
a {
	text-decoration: none;
	color: rgb(68,130,188);
}
a:hover {
	color: rgb(224,150,45);
}
#zone {
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	background: rgb(240,240,240);
	border: 1px solid rgb(200,200,200);
}
input[type=text],input[type=password] {
	padding: 2px;
	border: 1px solid rgb(150,150,150);
}
input.error {
	border: 1px solid rgb(200,0,0);
}
.msg_error {
	color: rgb(200,0,0);
}