<!DOCTYPE html>
<html>
	<head>
		<title>SAuth | Application inconnue</title>
		<link rel="stylesheet" type="text/css" href="http://sauth:<%= settings.port; %>/style.css" />
	</head>
	<body>
		<center>
			<div id="bann">
				<div id="bann_content">
					<span id="logo">vincentbook</span>
				</div>
			</div>
			<h1>Application inconnue</h1>
			Service d'authentification
			<div class="wrapper">
				L'application demand&eacute;e est introuvable.<br />
				<br />
				<a onclick="return history.back();">Retour</a> ou <a href="apps/new">ajouter une nouvelle application</a>
			</div>
		</center>
	</body>
</html>
