<!DOCTYPE html>
<html>
	<head>
		<title>Application inconnue</title>
		<%= settings.stylesheet %>
	</head>
	<body>
		<center>
			<h1>Application inconnue</h1>
			Service d'authentification
			<div class="wrapper">
				L'application demand&eacute;e est introuvable.<br />
				<br />
				<a onclick="return history.back();">Retour</a> ou <a href="apps/new">ajouter une nouvelle application</a>
			</div>
		</center>
	</body>
</html>

