<!DOCTYPE html>
<html>
	<head>
		<title>Ajouter une application</title>
		<%= settings.stylesheet %>
	</head>
	<body>
		<h1>Ajouter une application</h1>
		Service d'authentification
		<div id="zone">
			<form action="/apps" method="post">
				<table border="0">
					<tr>
						<td><label for="session_login">Nom : </label></td>
						<td><input type="text" id="session_login" name="login" size="30" /></td>
					</tr>
					<tr>
						<td><label for="session_password">Url : </label></td>
						<td><input type="text" id="session_password" name="password" size="30" /></td>
					</tr>
					<tr><td></td><td><input name="commit" type="submit" value="Valider" /></td></tr>
				</table>
			</form>
			<a href="/session/new">Retour</a>
		</div>
	</body>
</html>

