<!DOCTYPE html>
<html>
	<head>
		<title>Ajouter une application</title>
		<style type="text/css">
			body { background: rgb(250,250,250); }
			h1 { margin-bottom: 0; padding-bototm: 0; }
			a { text-decoration: none; color: rgb(68,130,188); }
			a:hover { color: rgb(224,150,45); }
			#zone { width: 500px; margin-top: 20px; margin-bottom: 20px; padding: 5px; background: rgb(240,240,240); border: 1px solid rgb(200,200,200); }
		</style>
	</head>
	<body>
		<h1>Ajouter une application</h1>
		Service d'authentification
		<div id="zone">
			<form action="/apps" method="post">
				<table border="0">
					<tr>
						<td><label for="session_login">Nom : </label></td>
						<td><input type="text" id="session_login" name="login" size="30" /></td>
					</tr>
					<tr>
						<td><label for="session_password">Url : </label></td>
						<td><input type="text" id="session_password" name="password" size="30" /></td>
					</tr>
					<tr><td></td><td><input name="commit" type="submit" value="Valider" /></td></tr>
				</table>
			</form>
			<a href="/session/new">Retour</a>
		</div>
	</body>
</html>

